.card-item {
  width: 300px;
  height: 180px;
  background-color: rgb(45, 183, 245,.5);
  border-radius: 50px;
  margin: 10px 10px;
  position: relative;
  text-align: center;
  line-height: 180px;

  .title {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    
  }
  .delete-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    transition: all 0.5s;
  }
}
